Setup a virtual environment for python and install the following:

To make sure they are installed only for your virtual environment use the 
command flask/bin/pip install NAME OF PACKAGE

flask
requests
gunicorn
