{% extends "base.html" %}
{% block content %}
     
    <script src="{{ url_for('static', filename='plot.js') }}"></script>
    <script type="text/javascript">


        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {

            var tests = {{tests|tojson|safe}}; // Load json.
            var run_names = tests.run_names;
            var runs = []; //  2D Array containing. Cols =  Number of machines, Rows = Run
            var data_template = [['x']]; // Template to create the plot
            var metrics = []; // Array with metric names. Size = Number of plots
            //console.log(tests);
            //console.log(run_names);

            for(var i = 0; i < run_names.length; i++){
                run = run_names[i];
                runs.push(tests[run]);
            }

            //console.log(runs)
            /* Load metric names */
            for(metric in runs[0][0].metrics){
                metrics.push(metric);
            }
            //console.log(metrics);
            plot(metrics, run_names, runs);

      }
    </script>


  	{%if user%}
    <h1>Hello, {{ user }}!</h1>
    {%else%}
    <h1>Hello</h1>
    {% endif %}
    <h2>{{ tests.name }}</h2>
    <ol>
    {% for t in tests.run_names %}
        <li><strong> 
            <a href = "/tests/{{t}}" id = "{{ t }}" onClick="remove_plots()"> {{ t }} </a>
        </strong></li>
    {% endfor %}
    </ol>  

{% endblock %}
