{% extends "base.html" %}
{% block content %}
     
    <script src="{{ url_for('static', filename='plot.js') }}"></script>
    <script type="text/javascript">

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);
        var tests = {{tests|tojson|safe}};
        var metrics = []; // Array with metric names. Size = Number of plots
        
    </script>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <li class="active"><a href = "#" id = "test.name" onClick="window.location.reload()">{{ tests.name }}_all <span class="sr-only">(current)</span></a></li>

            {% for t in tests.run_names %}

            <li><a href = "#" id = "{{ t }}" onClick="drawChart(this)">{{ t }}</a></li>

            {% endfor %}

          </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ tests.name }}</h1>
    <ul>
        {% for t in tests.run_names %}
        <li> <strong>{{t}} Most Recent Commit</strong> = {{tests.latest_commits[loop.index0]}}</li> 
        <li> <strong>{{t}} Most Recent Execution Time</strong> = {{tests.current_execution_times[loop.index0]}} </li>
        <li> <strong>{{t}} Current Status</strong> = {{tests.status[loop.index0]}} </li>
        </br>
        {% endfor %}
    </ul>

    <div id="metrics">
        <h2 class="sub-header">Metrics</h2>
    </div>


        </div>
      </div>
    </div>


{% endblock %}
